@using WebApplication1.Areas.admin.Models
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<div class="container-fluid vert ">
    <div class="row">

        <div class="col-md-2   ">
            @await Html.PartialAsync("_adminNavcshtml")



        </div>
        <div class="col-md-8   ">
            <h1 class="my-5 ">order List</h1>

        </div>
    </div>

