<div>
    <div class="    sidebar ">
        <a href="/admin/products">Products</a> 
            <a href="/admin/categories">Categories</a> 
             <a href="/admin/order">Orders</a>
          <a href="/admin/users">Users</a> 
        
    </div>

</div>