@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 class ="m-5">@ViewData["Title"]</h1>
<p class="m-5">
    Please check your email to reset your password.
</p>
