@using WebApplication1.Areas.admin.Models
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // Layout = "~/Views/Shared/_adminNavcshtml.cshtml";
    var Apimovie = ViewData["Movies"];
}



<div class="container-fluid vert ">
    <div class="row">

        <div class="col-md-2   ">
            @await Html.PartialAsync("_adminNavcshtml")



        </div>
        <div class="col-md-6 offset-2 ">
            <h1>Movie List</h1>

        </div>
    </div>

