@using WebApplication1.Areas.admin.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model  Products
@{
    ViewData["Title"] = "New";
     Layout = "~/Views/Shared/_Layout.cshtml";

   

}
<div class="container-fluid vert ">
    <div class="row">
        <div class="col-md-2   ">
            @await Html.PartialAsync("_adminNavcshtml")
        </div>
        <div class="col-md-9  ">
            <form method="post" enctype="multipart/form-data">
                <div class="border p-3 mt-4 m-5">
                    <div class="row pb-2">

                        <h2 class="text-primary "> Add New Product</h2>

                    </div>
                    <div>
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class=" ">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="color"></label>
                        <select asp-for="color" class="form-control">
                            <option value="">Select color</option>
                            <option value="red">red</option>
                            <option value="black">black</option>
                            <option value="yellow">yellow</option>
                            <option value="blue">blue</option>
                            <option value="green">green</option>
                        </select>
                        <span asp-validation-for="size" class="text-danger"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="size"></label>
                        <select asp-for="size" class="form-control">
                            <option value="">Select size</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="XXL">XXL</option>
                        </select>
                        <span asp-validation-for="size" class="text-danger"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="Quantity"></label>
                        <input asp-for="Quantity" class="form-control">
                        </input>
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="CategoryID"></label>
                        <select asp-for="CategoryID" class="form-control" asp-items="@ViewBag.CategoryList">
                        </select>
                        <span asp-validation-for="CategoryID" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Description"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div>
                        <input type="file" asp-for="clientFile" onchange="loadFile(event)" />
                        <img id="myImg" height="200" />

                    </div>
                    <br />
                    <hr />
                    <button type="submit" class="btn btn-primary">save</button>
                    <a asp-action="Index" asp-controller="Products" class="btn btn-info">back to Products</a>
                </div>


            </form>   
        </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
        <script>
            var loadFile = function (event) {
                var reader = new FileReader();
                reader.onload = function () {
                    var myImg = document.getElementById('myImg');
                    myImg.src = reader.result;
                }
                reader.readAsDataURL(event.target.files[0]);
            }
        </script>
       
        }
