@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex justify-content-center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/d/db/Al_Ahly_Cairo_SC.png" />
    </div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about building Web apps with ASP.NET Core.</p>
   
</div>
